<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Main Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
		html, body{
			height: 100%;
			margin: 0;
		}
		h1{
			text-align: center;
		}
		
	</style>
</head>

<body>
	<div class="contain">
		<h1> Main Page</h1>
		<div class="butons">
			<button>
				<a href="/candidate/new">Add Candidate</a>
			</button>
			<button>
				<a href="/candidate/new">Find Candidate</a>
			</button>

			
		</div>

	</div>

</body>

</html>